{% extends 'layouts.html'%}
{% block static%}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'layout.css', rel='stylesheet', type='text/css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

{% endblock static %}
{% block content %}
    <div>
        {{ data|safe }}
    </div>
{% endblock content %}